<template>
    <footer class="bg-black py-5">
        <div class="container flex flex-col text-xs text-center">
            <span>&copy; 2019 Undabot - Frontend Recruitment test</span>
            <span class="mt-1">Kristijan Škrlin - kikky.skrlin@gmail.com</span>
        </div>
    </footer>
</template>

<script>
export default {
    //
}
</script>