<template>
    <div class="fixed pin-t pin-l w-full z-50 flex items-center bg-black text-sm md:text-lg h-16 md:h-24 px-4 md:px-6">
        <nav class="main-nav flex items-center ml-auto">
            <router-link :to="{ name: 'index' }" class="text-grey-dark hover:bg-grey-darkest rounded-lg no-underline px-3 py-2">Home</router-link>
            <router-link :to="{ name: 'contact' }" class="text-grey-dark hover:bg-grey-darkest rounded-lg no-underline px-3 py-2">Contact</router-link>
        </nav>
    </div>
</template>

<script>
export default {
    //
}
</script>