<template>
    <div>
        <div class="flex flex-col items-center justify-center text-center bg-grey-darkest text-white p-8 pt-24 md:pt-32 md:min-h-hero">
            <h1 class="relative text-3xl font-normal">Contact</h1>
        </div>

        <div class="py-10 md:py-16">
            <div class="container max-w-sm">
                <div class="flex flex-wrap -mx-3">
                    <div class="w-full px-3 mb-4">
                        <label class="form-label" for="email">E-mail</label>
                        <input class="form-control" id="email" v-model="form.email" type="text" placeholder="Your e-mail address">
                    </div>

                    <div class="w-full px-3">
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-control" id="message" v-model="form.message" placeholder="Your message" rows="4"></textarea>
                    </div>
                </div>

                <div class="flex justify-center">
                    <button type="button" class="bg-green hover:bg-green-dark text-white font-medium tracking-wide uppercase py-4 px-6 mt-6 rounded-lg w-full focus:outline-none" :class="{ 'opacity-50': isProcessing }" @click="submit" :disabled="isProcessing">
                        <span v-if="! isProcessing">Send</span>
                        <span v-else>Sending...</span>
                    </button>
                </div>

                <div class="bg-red-lighter text-red-dark border-2 border-red-light text-sm rounded-lg p-4 mt-2" v-show="errors.length > 0">
                    <p v-for="error in errors" v-html="error.msg"></p>
                </div>

                <div class="bg-green-lighter text-green-dark border-2 border-green-light text-sm rounded-lg p-4 mt-2" v-show="successMessage" v-html="successMessage"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            apiRoute: 'http://localhost:3000/api',
            form: {
                email: null,
                message: null
            },
            errors: [],
            successMessage: '',
            isProcessing: false
        }
    },

    methods: {
        submit() {
            this.clearResponse()

            this.isProcessing = true

            axios.post(`${this.apiRoute}/contact`, this.form)
                .then(res => {
                    console.log(res)
                    console.log(res.data)

                    this.successMessage = res.data
                    this.clearFormData()

                    this.isProcessing = false
                })
                .catch(err => {
                    let res = err.response

                    if (! res) {
                        this.errors.push({
                            msg: 'Error: Network error!'
                        })
                    } else {
                        let errors = res.data.errors

                        console.log(errors)

                        if (Array.isArray(errors) && errors.length > 0) {
                            this.errors = errors
                        } else {
                            this.clearResponse()
                        }
                    }


                    this.isProcessing = false
                })
        },

        clearResponse() {
            this.errors = []
            this.successMessage = ''
        },

        clearFormData() {
            this.form = {
                email: null,
                message: null
            }
        }
    }
}
</script>