<template>
    <div>
        <div class="hero flex flex-col items-center justify-center text-center bg-cover bg-no-repeat bg-center min-h-hero md:min-h-hero-md p-8 pt-24 md:pt-32">
            <h1 class="relative text-white text-3xl md:text-4xl font-normal">New Avengers movie <span class="block text-blue-light font-bold">Avengers: Endgame</span> coming soon!</h1>

            <div class="relative bg-blue-light text-white text-sm py-1 px-2 md:py-2 md:px-4 rounded-lg mt-4">26 April 2019</div>
        </div>

        <div class="py-10 md:py-16">
            <div class="container">
                <p>After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to undo Thanos' actions and restore order to the universe.</p>

                <div class="mt-4 md:mt-6">
                    <span class="font-bold mr-1">Directors:</span>
                    <ul class="list-reset list-separate flex flex-wrap text-sm md:text-base">
                        <li>Anthony Russo</li>
                        <li>Joe Russo</li>
                    </ul>
                </div>

                <div class="mt-1 md:mt-4">
                    <span class="font-bold mr-1">Writers:</span>
                    <ul class="list-reset list-separate flex flex-wrap text-sm md:text-base">
                        <li>Christopher Markus</li>
                        <li>Stephen McFeely</li>
                        <li>Stan Lee</li>
                        <li>Jack Kirby</li>
                        <li>Jim Starlin</li>
                    </ul>
                </div>

                <div class="mt-1 md:mt-4">
                    <span class="font-bold mr-1">Stars:</span>
                    <ul class="list-reset list-separate flex flex-wrap text-sm md:text-base">
                        <li><span class="text-red font-medium">Robert Downey Jr.</span> as Tony Stark / Iron Man</li>
                        <li><span class="text-purple font-medium">Josh Brolin</span> as Thanos</li>
                        <li><span class="text-green font-medium">Chris Hemsworth</span> as Thor</li>
                        <li><span class="text-blue font-medium">Chris Evans</span> as Steve Rogers / Captain America</li>
                        <li><span class="text-indigo font-medium">Brie Larson</span> as Carol Danvers / Captain Marvel</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HeroImage from '../../img/hero-index.jpg';

export default {
    //
}
</script>