@tailwind preflight;

@tailwind components;

@tailwind utilities;

$transition-duration-base: 175ms;
$transition-timing-base: ease-in-out;

.hero {
    position: relative;

    &::before {
        display: block;
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @apply bg-black;
        @apply opacity-50;
    }
}

#page-index {
    .hero {
        background-image: url('./img/hero-index.jpg');
    }
}

.main-nav {
    > a {
        transition:
            color $transition-duration-base $transition-timing-base,
            background-color $transition-duration-base $transition-timing-base;
    }

    .router-link-exact-active {
        @apply text-white;
        pointer-events: none;

        &:hover {
            background-color: transparent;
        }
    }
}

.list-separate {
    li {
        &::after {
            content: ',';
            margin-right: .25em;
        }

        &:last-of-type::after {
            display: none;
        }
    }
}

.form-control {
    @apply appearance-none block w-full bg-grey-lighter text-grey-dark border-2 rounded-lg py-3 px-4 leading-tight;

    &:focus {
        @apply outline-none bg-white;
    }

    transition: all $transition-duration-base $transition-timing-base;
}

.form-label {
    @apply uppercase tracking-wide text-xs font-bold mb-1;
}

button {
    transition:
        color $transition-duration-base $transition-timing-base,
        background-color $transition-duration-base $transition-timing-base;
}

.sticky-footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    footer {
        margin-top: auto;
    }
}

@screen md {
    .form-label {
        @apply text-base mb-2;
    }
}